.footer {
    flex-shrink: 0;
    background: #39454e;
}
.footer .main-wrap {
    height: 140px;
}
.footer .logo {
    position: absolute;
    top: 30px;
    left: 60px;
}
.social-links {
    position: absolute;
    top: 50px;
    right: 60px;
    margin: 0;
    display: flex;
    flex-direction: row;
}
.social-links li:before, .social-links li:after {
    display: none;
}
.social-links li a {
    display: block;
    width: 40px;
    height: 40px;
    margin-left: 20px;
    background: 0 0 no-repeat;
    transition: opacity 200ms ease-out;
    text-indent: 10000px;
    overflow: hidden;
}
.social-links li:hover a {
    opacity: 0.7;
}
.social-links li.twitter a {
    background-image: url("../images/ic_twitter.png");
}
.social-links li.facebook a {
    background-image: url("../images/ic_facebook.png");
}
.social-links li.linkedin a {
    background-image: url("../images/ic_linkedIn.png");
}