.default-form.middle-width {
    width: 720px;
}

.default-form input[type=text],
.default-form input[type=password],
.default-form input[type=email] {
    display: block;
    width: 100%;
    height: 60px;
    padding: 19px 20px;
    border-radius: 4px;
    font: 18px/28px "Lato", sans-serif;
    color: #51575C;
    border: none;
}

.default-form button,
.default-form input[type=submit],
.default-form input[type=reset] {
    display: block;
    height: 50px;
    min-width: 180px;
    border-radius: 25px;
    background-color: #ffcd44;
    border: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #212121;
    font: bold 13px/16px "Lato", sans-serif;
    cursor: pointer;
}

.contact-form {
    margin: 80px -10px 104px;
}

.form-row {
    margin: 20px -10px;
    display: flex;
    flex-flow: row nowrap;
}
.form-row .form-field {
    padding: 0 10px;
    flex-grow: 1;
}